/* App.css */

.page-container {
    width: 100%;
    margin: 0 auto; /* Center the content horizontally */
  }

.search-and-add {
margin-bottom: 20px; /* Add some space between the search and user addition and the user blocks */
}
  
.search-container {
    display: flex;
    align-items: center; /* This centers the items vertically within the container */
    margin-right: 10px;
    margin-left: 20px;
    margin-bottom: 20px;
  }
  

.search-container span {
    margin-right: 20px;
}

.search-container input {
  margin-right: 40px;
}

/* Apply styles to each user container */
.user-container {
    margin-bottom: 10px;
    margin-inline-end: 50px;
    padding: 10px;
    position: relative;
  }
  
  .red-border {
    border: 2px solid red;
  }
  
  .green-border {
    border: 2px solid green;
  }

  .user-container button {
    margin-right: 10px;
  }

.users-container {
  float: left;
  width: 30%;
  padding-right: 10px; /* Add some space between the two blocks */
  box-sizing: border-box; /* Include padding in the width calculation */
}


/* Specific spacing for each button */
.user-container button:nth-of-type(1) {
    margin-right: 90px; /* Adjust the value as needed */
  }
  
  .user-container button:nth-of-type(2) {
    margin-right: 3px; /* Adjust the value as needed */
  }
  
  /* Remove margin-right from the last button */
  .user-container button:last-of-type {
    margin-right: 100;
  }

  .additional-data {
    position: relative;
    top: 100%; /* Position it below the "Other Data" button */
    left: 10;
    width: 92%;
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 10px;
    background-color: rgb(240,240,240);
    border: 2px solid black;
    border-radius: 15px;
    display: none; /* Hide it by default */
    z-index: 1; /* Ensure it appears above other elements */
  }

  .user-container:hover .additional-data {
    display: block;
  }

  .todos-posts {
    flex: 0 0 50%;
    margin: 10px;
    border: 2px solid black; /* Add black border around all todos */
    padding: 10px;
    border-radius: 0px;
    margin-right: 500px;
    margin-left: 340px;
  }
  
  .todos-posts h2 {
    margin-top: 15px;
    margin-bottom: 5px;
  }
  
  .todo-item {
    border: 2px solid purple; /* Add purple border around each individual todo */
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    margin-right: 30px;
  }

  .completed-tasks {
    position: absolute;
    top: 0;
    right: 0;
    background-color: green;
    color: white;
    padding: 5px;
  }